#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title {
  padding-top: 20px;
}

/* estilos globales para móvil */
@media (max-width: 576px) {
  /* Navbar */
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar a {
    display: flex;
    margin: 5px 0;
  }

  /* Lista de productos */
  .product-list {
    display: grid;
    grid-template-columns: 1fr; /* una sola columna en celular */
    gap: 10px;
  }

  /* Tarjeta de producto */
  .product-card {
    width: 100%; /* que se ajuste al ancho */
    margin: 0 auto;
  }

  /* Botones */
  button {
    padding: 8px 12px;
    font-size: 14px;
  }

  /* Inputs */
  input {
    width: 100%; /* ocupan todo el ancho */
    margin: 5px 0;
  }
}
